*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    margin:0;
    font-family:poppins;
}
header{
    width:100%;
    height:85vh;
    background-image:url("images/banner/banner3.png");
    background-repeat:no-repeat;
    background-size:cover;
}
.header-text{
    max-width:300px;
    color:white;
    float:right;
    margin-top:130px;
    text-align:right;
    margin-right:130px;
    font-size:18px;
}
.header-text h1{
    font-weight:bold;
}
.header-text p{
    font-size:10px;
}
.header-text button{
    border:none;
    padding:10px;
    margin-top:20px;
    border-radius:5px;
    color:#005FAC;
    font-weight:600;
}
.section-1{
    max-width:600px;
    height:400px;
    /* background-color:gray; */
    margin:100px auto;
    display:flex;

}
.section-1>*{
    flex-basis:50%;
}
.sec-image img{
    width:350px;
    margin-left:-100px;
    margin-top:-50px;
}
.text-1{
    margin:100px auto;
}
.text-1 h2{
    font-size:20px;
    font-weight:bold;
    
}
.text-1-p{
    font-size:10px;
    color:#444343;
    width:300px;
    margin-top:20px;
    margin-bottom:20px;
}
#text-p{
    font-size:10px;
    color:#444343;
    margin:10px 0;
    
}
.plan-h3{
    font-size:30px;
    text-align:center;
}
.plans{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:50px;
    max-width:700px;
    margin-left:150px;
    margin-top:30px;
    text-align:center;
    
}
.plans p{
    color:#444343;
    font-size:13px;
}
.image-text{
    width:700px;
    height:190px;
    background-image:url("images/watch.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    border-radius:10px;
    margin:0px auto;
    margin-top:100px;

}
.image-text img{
    width:720px;
}
.image-text h1{
    margin-top:-170px;
    margin-left:30px;
    color:white;
}
button{
    border:none;
    padding:10px 20px;
    border-radius:5px;
    margin-left:30px;
    margin-top:10px;
    color:#005fac;
    font-weight:bold;
}